<% function strip_html_tags(str) {
    if ((str===null) || (str===''))
        return false;
   else
    str = str.toString();
   return str.replace(/<[^>]*>/g, '');
 } %>


<% const ls1 = [113, 191, 116, 154, 117, 118, 177, 130, 111, 88, 74, 81, 129, 82, 83, 84, 86, 138, 193, 195, 91, 125, 93, 176, 192, 97, 98, 100, 122, 163, 109, 110, 181, 128, 143, 161, 106, 148, 119, 123, 152, 150, 151] %>


<h2>Exercises</h2>



<% exer.forEach(e => { %>
    <% if(ls1.includes(e.id)) { %>
    <div class='exercise'>
        <h3><%= e.name %></h3>
        <p><%= strip_html_tags(e.description) %> </p>
        <img src="" alt="">


        <div>
            <% image.forEach(i => { %>
                <% if(e.id == i.exercise) { %>
                    <div class="image-exer">
                        <img src="<%= i.image %>" alt="Image Here">
                    </div>
                <% } %>
           <% }) %>
        </div>

        <form action="/workout/<%= workoutId %> " method="POST">

            Number of Sets: <input type="text" name="sets" placeholder="number of Sets" required>
            Repetitions: <input type="text" name="repetition" placeholder="how many Repetitions" required>
            <input type="hidden" name="exerciseApiId" value="<%= e.id %> ">
            <input type="hidden" name="exerciseName" value="<%= e.name %> ">
            <button type="submit">Add to workout</button>

        </form>
    </div>
    <% } %>
<% }) %>
