<div>
    <h2>Create a new Workout</h2>
        <form action="/workout" method="POST">

            Workout Name: <input type="text" name="name" placeholder="Workout Name">
            <input type="text" name="description" placeholder="describe your workout">
            <button type="submit">Create Workout</button>

        </form>


</div>

<h2>My Workouts</h2>
    <div class="wcontainer">

    <% workouts.forEach(w => { %>
        <div style="background-color: white;"></div>
        <div class="econtainer">
            <h3 class="etitle"><%= w.name %> </h3>
            <h4><%= w.description %> </h2>
            <br>
                <h4>Exercises</h4>
                <% w.exercises.forEach(e => { %>
                        <h5><%= e.exerciseName %></h5>
                        <p>Reps: <%= e.repetition %> </p>
                        <p>Sets: <%= e.sets %> </p>
                    <br>
                <% }) %>

            </div>
                    <div class="bcontainer">
                        <a href="/workout/<%= w.id %>">
                            <button type="submit">add exercises</button> </a>
                        <a href="/workout/details/<%= w.id %>/<%= w.name %>">
                            <button type="submit">Edit Workout</button>
                        </a>
                            <form action="/workout/<%= w.id %>?_method=DELETE" method="POST">
                                <button type="submit" name="id" value="<%= w.id %>">Delete Workout</button>
                            </form>
                    </div>
    <% }) %>


</div>
